<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/public/assets/index.css">
        <link rel="stylesheet" href="/public/assets/memories.css">
        <title>TC2005B | Laboratorio 10</title>
</head>

<body>
    <div class="card">
        <h1>
            Memorias
        </h1>
        <main>
            <form id="form">
                <input type="text" name="name" id="name" placeholder="Nombre">
                <input type="hidden" name="_csrf" id="hidden" value="<%= csrfToken %>">
                <textarea maxlength="1000" placeholder="Mensajín" name="message" id="message" cols="30"
                    rows="10"></textarea>
                <button type="submit">Guardar</button>
            </form>
        </main>
    </div>
    <script src="/public/js/memories.js"></script>
</body>

</html>