<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/public/assets/index.css">
</head>

<body>
    <%- include('../partials/header'); %>
    <main>
        <h1>
            Admin page
        </h1>
        <div style="text-align: center;">
            <div>
                Tú... sí, tú... sabes el secreto
            </div>
            <p>
                El secreto para la fórmula de la Kangreburger es... 404 error
            </p>
        </div>
    </main>

</body>

</html>