<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/public/assets/pokemon.css">
        <title>TC2005B | Laboratorio 10</title>
</head>

<body>
    <%- include('../partials/header'); %>
    <h1>
        Pokemones
    </h1>
    <div id="wrapper">

    </div>
    <script src="/public/js/pokemon.js"></script>
</body>

</html>